<div id="writing-header-bar-wrapper">
	<div class="icon-bar-button-wrapper">
		<button class="icon-bar-button" id="return-to-main-menu-button" (click)="onClickReturnToMainMenu($event)"></button>
		<p>Home</p>
	</div>
	<div class="icon-bar-button-wrapper">	
		<button class="icon-bar-button" id="save-novel-button" (click)="onClickSaveNovel($event)"></button>
		<p>Save</p>
	</div>
	<div class="icon-bar-button-wrapper">
		<button class="icon-bar-button" id="export-novel-button" (click)="onClickOpenExportMenu($event)"></button>
		<p>Export</p>
	</div>
</div>
