<div id="chapter-tree">
    <div id="chapter" *ngFor="let chapter of novelProvider.getNovel().chapters; let chapterIndex = index">

        <p>{{ chapter.name }}</p>

        <div class="scene-tree" *ngFor="let scene of chapter.scenes; let sceneIndex = index">
            <div [ngClass]="{'selected-scene': chapterSwitcher.currentScene === sceneIndex && chapterSwitcher.currentChapter === chapterIndex}" id="scene">
                <p (click)="selectScene(chapterIndex, sceneIndex)">{{ scene.name }}</p>
            </div>

            <button (click)="novelProvider.addScene(chapterIndex, sceneIndex + 1)">Add Scene</button>
        </div>

        <button *ngIf="chapter.scenes.length === 0" (click)="novelProvider.addScene(chapterIndex, 0)">Add Scene</button>
        <button (click)="novelProvider.addChapter(chapterIndex + 1)">Add Chapter</button>


    </div>
</div>