#chapter-tree {
    overflow: scroll;

    .selected-scene {
        background: #222;
        color: #fff;
    }
    
}

#chapter {

    margin: 20px;
    margin-left: 60px;

    user-select: none;

    #scene {
        margin-left: 32px;
        padding-left: 20px;
        border-radius: 8px;
        transition: 0.2s;

        user-select: none;

        cursor: pointer;

        p {
            font-family: 'Mali-Light';
        }
    }

    #scene:hover {
        color: #aaa;
    }
}

::-webkit-scrollbar {
    display: none;
}

.chapter-drop-zone-highlight, .scene-drop-zone-highlight {
    background: #101010;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.chapter-drop-zone, .scene-drop-zone, .chapter-move-drop-zone, .scene-move-drop-zone {
    background-color: #bbb;
    height: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: blue;
    position: relative;

    transition: 0.2s;
}

.scene-drop-zone {
    margin-left: 32px;
    padding-left: 20px;
}
