#chapter-tree {
    overflow: scroll;
}

#chapter {

    margin: 20px;
    margin-left: 60px;

    #scene {
        margin-left: 32px;
        padding-left: 20px;
        border-radius: 8px;
        transition: 0.2s;

        p {
            font-family: 'Mali-Light';
        }
    }

    #scene:hover {
        background: #aaa;
    }
}

::-webkit-scrollbar {
    display: none;
}
