<div id="chapter-tree">
    <div id="chapter" *ngFor="let chapter of novelProvider.getNovel().chapters; let chapterIndex = index">

        <p contenteditable="true">{{ chapter.name }}</p>

        <div class="scene-tree" *ngFor="let scene of chapter.scenes; let sceneIndex = index">
            <div [ngClass]="{'selected-scene': chapterSwitcher.currentScene === sceneIndex && chapterSwitcher.currentChapter === chapterIndex}"
                id="scene">
                <p (click)="selectScene(chapterIndex, sceneIndex)" contenteditable="true">{{ scene.name }}</p>
            </div>

            <!--Drop Zone to add new Scenes-->
            <div class="scene-drop-zone" *ngIf="chapterSwitcher.dragContent === 2" (dragover)="onDragOverScene($event)"
                (drop)="onDropScene($event, chapterIndex, sceneIndex)" (dragleave)="onDragLeaveScene($event)">
            </div>

        </div>

        <!--Drop Zone to add new Chapters-->
        <div class="chapter-drop-zone" *ngIf="chapterSwitcher.dragContent === 1" (dragover)="onDragOverChapter($event)"
            (drop)="onDropChapter($event, chapterIndex)" (dragleave)="onDragLeaveChapter($event)">
        </div>

    </div>
</div>