#footer-bar {
    background: #484848;
    min-height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}