<div class="layout-two-columns">
	<div class="wrapper-padding-column">

		<!-- Character management -->
		<h2 class="text-light">Characters</h2>
		<p *ngIf="characters.length === 0" class="text-light">No characters yet.</p>
		<label>
			<input type="text" class="input_light" placeholder="character name" #newCharacterName>
		</label>
		<button class="button_light" (click)="onClickCreateCharacter(newCharacterName.value)">create one</button>
		<app-image-tag-list id="character-tag-list"
			(onClickTag)="activateCharacter($event.id)"
			[imageTagList]="characters"></app-image-tag-list>

		<h2 class="text-light">Places</h2>
		<app-tag-list id="place-tag-list" [tagList]="worldBuilderService.listPlaces()"></app-tag-list>

		<h2 class="text-light">Objects</h2>
		<app-tag-list id="object-tag-list" [tagList]="worldBuilderService.listObjects()"></app-tag-list>
	</div>

	<!-- Details Panel TODO update when contents are updated -->
	<div class="wrapper-padding-column">
		<app-entity-details #entityDetailsComponent
			[title]="currentlySelectedCharacterName"
			(deleteButtonClick)="deleteCharacter()">
		</app-entity-details>
	</div>

</div>

