@header-bar-height: 50px;

#writing-panel {
    background-color: #FEFEFE;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#writing-paper {
    background: #242424;
    box-shadow: 0 0 0 1px black inset;
    color: #fff;

    line-height: 1.5;
    font-size: 16px;
	font-family: 'SpecialElite', serif;
    overflow-y: scroll;
    padding: 30px;

    outline: none;
}

::-webkit-scrollbar {
    display: none;
}
