<div id="background">

	<div id="novel-list-wrapper">
		<h2 class="text-light">Create a novel</h2>
		<div class="all-in-row">
			<button class="button_light" (click)="onClickImportNovel()">Import</button>
			<span class="text-light">or</span>
			<app-text-button label="novel name" buttonText="create" (onExecute)="onClickCreateNewNovel($event)"></app-text-button>
		</div>

		<h2 class="text-light">Load a novel</h2>
		<div id="novel-list">
			<div *ngFor="let novel of novels" class="novel-list-entry-wrapper">
				<div class="novel-list-entry"
					 (click)="onClickLoadNovel($event, novel._id)">
					<p class="novel-name">{{ novel.name }}</p>
				</div>
				<button class="button_weak" (click)="onClickDeleteNovel($event, novel._id)">Delete</button>
			</div>

		</div>
	</div>

</div>
