@import "../../../assets/styles/elements";
@import "../../../assets/styles/colors";

@gray-darkest: #121212;
@gray-darker: #242424;
@gray-lightest: #ddd;

@book-height: 300px;
@book-width: 200px;

.all-in-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}
.all-in-row > * {
    font-size: 20px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    display: none;
}

#background {
    overflow: scroll;

    width: 100%;
    height: 100vh;
    background: @gray-darkest;
    top: 0;
    left: 0;
    position: fixed;

    p {
        color: @gray-lightest;
    }

    #novel-list-wrapper {
        margin: 50px;

        #novel-list {
            border-radius: 8px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .novel-list-entry {
                background: @gray-darker;
				background: linear-gradient(90deg,
					rgba(0,0,0,1) 0%,
					rgba(60,60,60,1) 2%,
					rgba(20,20,20,1) 4%,
					rgba(60,60,60,1) 5%,
					rgba(40,40,40,1) 6%,
					rgba(40,40,40,1) 98%,
					rgba(60,60,60,1) 99%,
				);

                display: flex;
                justify-content: space-around;
                align-content: center;
                align-items: center;
                flex-direction: column;

                width: @book-width;
                height: @book-height;
                margin-right: 40px;
                margin-bottom: 40px;
				border-radius: 8px;

                transition: 0.2s;

                p {
                    font-size: 20px;
                    margin-top: 50px;
                    margin-left: 25px;
                    margin-right: 25px;
                    text-align: center;
                }

                #novel-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
            }

            .novel-list-entry:hover {
                transform: scale(1.05, 1.05);
			}
        }

    }
}
