<div class="wrapper-entity-details" *ngIf="contents !== undefined">
	<h2 class="text-light">{{ title }}</h2>
	<app-tag-list
		[tagList]="listCategories()"
		[highlightedTag]="this.currentlySelectedCategory"
		(onClickTag)="onClickChangeCategory($event)"></app-tag-list>
	<app-entity-descriptor
		*ngIf="currentlySelectedCategory !== undefined"
		[entity]="currentlySelectedEntities"></app-entity-descriptor>
	<button class="button_weak" id="entity-delete-button" (click)="deleteButtonClick.emit()">Delete</button>
</div>

