@import "../../../../assets/styles/elements";
@import "../../../../assets/styles/colors";
@import "../../../../styles";

.wrapper-entity-details {
	padding: 40px;
	border-radius: 8px;
	background: @gray-darker;
}
