@import "../../../../assets/styles/elements";
@import "../../../../assets/styles/colors";
@import "../../../../styles";

.wrapper-entity-details {
	padding: 20px;
	border-radius: 8px;
	box-shadow: -2px -2px 2px 0 #303030, 2px 2px 2px 0 #060606;
	background: @gray-darkest;
}
