/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: mali;
    src: url(assets/fonts/mali/Mali-Regular.ttf) format("truetype");
}

@font-face {
    font-family: mali-light;
    src: url(assets/fonts/mali/Mali-Light.ttf) format("truetype");
}

body {
    font-family: mali;
}