<h1>Export as</h1>
<button class="close-button" (click)="onCLickGoToWritingPanel()">X</button>
<div id="export-grid">

    <!--export as JSON-->
    <div class="export-plate" id="export-as-json-plate" (click)="onClickExportNovelAsJSON()">JSON</div>

    <!--TXT export-->
    <div class="export-plate" id="export-as-txt-plate" (click)="onClickExportNovelAsTXT()">TEXT</div>

    <!--PDF export-->
    <div class="export-plate" id="export-as-pdf-plate" (click)="onClickExportNovelAsPDF()">PDF</div>

</div>